.nav{
    position: sticky;
    top: 3em;
    z-index: 1;
    /* margin-top: 3em; */
}
.one{
    /* height: 86vh; */
    height: 100vh;
    background-color: rgb(0, 0, 0);
}
.two{
    height: 102vh;
    display: flex;
    /* justify-content: space-e; */
    /* align-items: center; */
    background-color: rgb(0, 255, 170);
}
.three{
    height: 100vh;
    background-color: rgb(204, 217, 255);
}
.four{
    height: 100vh;
    /* background-color: rgb(247, 28, 72); */
    background-color:  rgb(130, 0, 117);;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
@media only screen and (max-width: 680px) {
    
    .four{
        height: 200vh;
       display: flex;
       justify-content: center;
       align-items: center;
    }
  }
