.nav{
    position: sticky;
    top: 3em;
    /* margin-top: 3em; */
}
.one{
    /* height: 86vh; */
    height: 100vh;
    background-color: rgb(0, 0, 0);
}
.two{
    height: 102vh;
    display: flex;
    /* justify-content: space-e; */
    /* align-items: center; */
    background-color: rgb(0, 255, 170);
}
.three{
    height: 100vh;
    background-color: rgb(204, 217, 255);
}
.four{
    height: 100vh;
    background-color: rgb(255, 7, 119);
}
