.meImg{
    height: 100vh;
}
.meMain{
    display: flex;
    justify-content: space-around;
    align-items: center;
     color: blue;
}
.meRight{
    font-size: 1.5em;
    margin-right: 3em;  
    text-align:start;
}
.meBottom{
    display: none;
}

@media only screen and (max-width: 970px) {
    .meImg{
        
        margin-left: 2em;  
        margin-right: 2em;  
        /* margin-top: 3em; */
        height: 80vh;
    }
    .meRight{
        font-size: 1.5em;
        margin-right: 1.5em;  
    }
   
   }
@media only screen and (max-width: 840px) {
    .meImg{
        height: 70vh;
        margin-top: 5em;
    }
   }
@media only screen and (max-width: 774px) {
    .meImg{
        height: 50vh;
        width: 60vh;
        /* margin-top: 3em; */
    }
    .meRight{
        margin-top: 3em;  
    }
   }
@media only screen and (max-width: 650px) {
    .meImg{
        height: 50vh;
        width: 50vh;
        /* margin-top: 3em; */
    }
    .meRight{
        font-size: 1.3em;
   }
}
@media only screen and (max-width: 535px) {
    .meImg{
        height: 50vh;
        width: 60vh;
        margin-top: 0.5em;
    }
    .meRight{
        display: none;
   }
   .meBottom{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 3em;
    font-size: 1.3em;
    color: blue;
   }
   .meBottom-content{
    margin-left: 3em;
    margin-right: 3em;
   }
}
 
@media only screen and (max-width: 417px) {
    .meImg{
        height: 50vh;
        width: 50vh;
        margin-top: 0.5em;
    }
 
}
@media only screen and (max-width: 417px) {
    .meImg{
        height: 50vh;
        width: 40vh;
        margin-top: 0.5em;
    }
 
}

